body {
    background-image: linear-gradient(45deg, var(--3), var(--4));
    overflow: hidden; /* Disable scrolling for the entire page */
}
main {
    height: 100vh; /* Set the height of the main element to 100% of the viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Disable scrolling for the main content */
}

main p {
    font-weight: 700;
    font-size: 30px;
    padding-left: 1em; /* Adjusted padding */
    padding-right: 1em; /* Adjusted padding */
    padding-bottom: 10em;
    padding-top: 3em;
    color: var(--2);
}

#MovedAboutUs {
    position: relative;
    top: 250px;
    left: -500px;
    max-width: 600px; /* Adjusted maximum width */
    margin-left: auto; /* Center the paragraph horizontally */
    margin-right: auto; /* Center the paragraph horizontally */
    padding-left: 20px; /* Add left padding for better readability */
    padding-right: 20px; /* Add right padding for better readability */
}
