* {
    margin: 0;
    padding: 0;
    font-family: 'League Spartan';
}

:root {
    --1 : #163172;
    --2 : #1E56A0;
    --3 : #D6E4F0;
    --4 : #F6F6F6;
}

body {
    overflow: hidden; /* Disable scrolling for the entire page */
}