body {
    overflow: scroll !important;
    background-color: var(--4);
}

header {
    opacity: .8;
}

#bg-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure the background is behind other content */
    /* Add any additional styling for the background */
}

main {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
}

main h1 {
    margin-top: 3em;
    font-size: 4em;
}

#upload-button {
    display: block;
    margin-top: 4em;
    background-color: #3d81db;
    height: 48px;
}

#upload-button:hover {
    cursor: pointer;
}

#upload-button i {
    background-color: var(--2);
    display: inline-block;
    padding: 1em;
}

#file-text {
    color: var(--3);
    display: inline-block;
    text-align: center;
    padding: 1em;
    height: 48px;
}

.pdf-container {
    width: 100%;
    max-height: 600px; /* Adjust the height as needed */
    overflow-y: auto;
}
