<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/default.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">


    <title>FlashFocus</title>
</head>
<body>
    <header>
        <img src="../static/assets/images/long-logo.png" alt="Logo" height="50">
        <nav>
            <a href="index.html">Home</a>
            <a href="features.html"><strong>Features</strong></a>
            <a href="about-us.html">About Us</a>
            <a href="highlightify.html">Highlightify</a>
        </nav>
    </header>


